:root {
    --primary-color: #0077be;
    --secondary-color: #00a8e8;
    --accent-color: #f9a825;
    --text-color: #333;
    --light-bg: #f4f4f4;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(135deg, #3490dc, #6574cd);
    height: 60px;
}

/* Top bar styles */
.top-bar {
    background-color: var(--primary-color);
    padding: 10px 0;
    font-size: 14px;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
}



.top-bar img {
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: 3px;
}
.right {
    display: flex;
    gap: 15px; /* Add gap between items */
}

.right a {
    text-decoration: none;
    color: white;
}
.right a:hover {
    text-decoration: underline;
}
.left {
    display: flex;
    gap: 10px; /* Add gap between items */
}